/* 
TODO: come back and fix all this / make it fit / remove extra
*/

* {
  box-sizing: border-box;
  text-align: center;
}


body {
  background: rgb(40,91,173);
  background: linear-gradient(180deg, rgba(40,91,173,1) 0%, rgba(97,37,122,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  padding: 35px 0 35px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f9e8ff;
}

footer { 
  background-color: #202020;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;  
  padding-bottom: 2rem;
  margin-top: 20px;
  padding-top: 1rem;
}



header {
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  
}

header a {
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  list-style-type: none;
  margin: 3px;
  float: right;
}

header a:hover {
  background-color: #f9e8ff;
  color: black;
  text-decoration: none;
}

header * {
  display: inline;
}


header img {
  height: 50px;
  margin: 10px 10px 10px 20px;
}

input[type=search] {
  font-size: 16px;
  width: 50%;
  padding: 5px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

.search-box {
  float: center;
  flex-grow: 10;
  width: 50%;
  float: right;
  padding-right: 30px;
}

header input:focus {
  width: 70%;
  background-color: lightblue;
  border: 3px solid #555;
}

.h1 {
  color: #f9e8ff;
}

.grid-container {
  display: grid;
  margin: 10px 0 10px 0;
  
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.search-results-image {
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
}

@media (max-width: 700px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}

@media (max-width: 400px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}



.image {
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
old style header
*/
.site-header {
  background-color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px 7px 0 0;
}

.site-content {
  background-color: #202020;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  width: 87%;
  
}

/* old style footer */
.site-footer {
  background-color: #202020;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
}

a { 
  text-decoration: none; color: #f9e8ff; font-weight: 500;
}

a:hover { 
  text-decoration: underline; 
}

input[type=text] {
  width: 20%;
  padding: 5px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

input[type=password] {
  width: 20%;
  padding: 5px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

input[type=email] {
  width: 20%;
  padding: 5px 5px;
  margin: 5px 0 5px;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

input:focus {
  width: 40%;
  background-color: lightblue;
  border: 3px solid #555;
}

label {
  padding: 10px 10px 10px 0;
  display: inline-block;
  clear: left;
  text-align: right;
}

.tos-box {
      padding: 0px 5px 0px 0;
      display: inline-block;
}


button {
  background-color: #666666;
  color: #f9e8ff;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
}

button:hover {
  opacity: 0.75;
}

/* old nav bar */
.nav-bar {
  background-color: #202020;
  overflow: hidden;
  border-radius: 0 0 7px 7px;
}

.nav-bar a {
  float: left;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  
}

.nav-bar a:hover {
  background-color: #f9e8ff;
  color: black;
}

#flash-message {
  position: fixed;
  left: 50%;
  top: 12%;
  transform: translate(-50%, 0);
  z-index: 9999;
}

#flash-message div {
  text-align: center;
}

.recent-posts-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30px;
  column-gap: 15px;
  row-gap: 15px;
}

.recent-post-grid-item {
  border: 2px solid #f9e8ff;
  padding: 15px;
  text-align: center;
}

img {
    max-width: 90%;
}


